<h1>
  Teaching Assistant
</h1>

<h2>
  Alunos
</h2>

<table>
<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="aluno.nome" ></td>
</tr>
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="aluno.cpf" ></td>
</tr>
<tr>
   <td><label>e-mail </label></td>
   <td><input [(ngModel)]="aluno.email" ></td>
</tr>
<tr>
   <td><label>Login GitHub </label></td>
   <td><input [(ngModel)]="aluno.github_login" ></td>
</tr>
<td><button (click)="gravar(aluno)">Adicionar</button></td>
</table>

<ul class="alunos">
<li *ngFor="let a of alunos">
    <span>{{a.nome}}</span>,
    <span>{{a.cpf}}</span>,
    <span>{{a.email}}</span>
</li>
</ul>
